<div class="accordion" id="accordionForm">
    <div class="accordion-item">
        <h2 class="accordion-header" id="addFormHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#addFormBody" aria-expanded="false" aria-controls="addFormBody">
                Create
            </button>
        </h2>
        <div id="addFormBody" class="accordion-collapse collapse" aria-labelledby="addFormHeader"
            data-bs-parent="#accordionForm">
            <div class="accordion-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="name" class="align-self-center form-label m-0">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="category.name" id="name" name="name" maxlength="128">
                        <div class="form-text text-danger" *ngIf="errors.name">{{errors.name}}</div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>